+b('rate-panel')
  color white
  background-color #0458b6
  border-radius 6px
  border 2px solid rgba(255, 255, 255, 0.3)
  font-size 14px
  font-weight 500
  letter-spacing 0.5px
  outline none

  +e('small-part')
    font-size 10px
    margin-left 1.5px

  +e('asset-sign')
    font-size 11px