+b('asset-selector')
  +e('item')
    padding 30px 100px
    color white
    font-size 28px
  
  +e('info')
    display flex
    flex-direction column

  +e('asset-balance')
    opacity 0.3
    color white
    font-size 12px
