+b('button')
  color white
  border-radius 6px
  background transparent
  outline none
  border none
  padding 10px 10px
  cursor pointer

  &:hover
    background #0d55a5
  
  &:disabled
    opacity 0.5
    cursor not-allowed