+b('history-page')
  padding 20px
  display flex
  height 100vh
  flex-direction: column

  +e('empty-message')
    display flex
    margin auto 0
    opacity 0.5
    font-size 22px
    font-weight: 700
    text-align center

  +e('operation')
    margin-bottom 20px