+b('history-page')
  padding 0 20px 20px
  display flex
  flex-direction: column

  +m('empty')
    padding 0
    height 100vh

  +e('empty-message')
    display flex
    margin auto 0
    opacity 0.5
    font-size 22px
    font-weight: 700
    text-align center

  +e('operation')
    margin-top 20px