+b('arrow')
  border-radius 50%
  background none 
  border none
  color white
  outline none
  opacity 0.5
  
  &:hover
    opacity 1

  &:disabled
    opacity 0.2
    cursor not-allowed 

  +e('icon')
    font-size 20px