+b('input')
  display flex
  flex-direction column

  +e('error')
    color #F44336
    font-size 14px

  +e('input')
    +m('transparent')
      border none 
      outline none 
      background transparent
      caret-color white
      color white
      font-size 28px
      text-align right